<div class="text-center">
    <div class="text-left m-1"><strong>INFORMACIÓN DE LA EMPRESA</strong></div>  
    <div class="my-4">
        <p class="p-0 m-0"><strong>Nombre</strong></p>
        Quipux S.A.S<br>
    </div>   
    <div class="my-4">
        <p class="p-0 m-0"><strong>Fecha de creación</strong></p>
        1995/05/06
    </div>
    <div class="my-4">
        <p class="p-0 m-0"><strong>Dirección</strong></p>
        Carrera 43A No. 3 Sur-130
        Ed. Milla de Oro<br>
        Distrito de negocios Torre 1<br>
        Piso 12
        <br>
        Medellín - Colombia
    </div>
    <div class="my-4">
        <p class="p-0 m-0"><strong>Números de teléfonos</strong></p>
        Fijo<br>
        +57 (4) 313-70-00<br>
        Fax<br>
        +57 (4) 313-44-77
    </div>
    <div class="my-4">
        <p class="p-0 m-0"><strong>Sitio Web</strong></p>
        <p class="text-primary">www.quipux.com/site</p>
    </div>       
</div>
