<div class="row d-flex flex mx-3 my-5 ">
    <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-7 align-self-end">
        <div>
            <h1 class="text-primary m-5 tittle-home">¿Que quieres buscar?</h1>
            <p class="f-14">Encuentra la información que desees consultar ...</p>
            <div class="wrapper mb-0 mb-sm-2 mb-md-4 mb-lg-2 mb-xl-5">
                <div class="search_box">
                    <div class="dropdown ">
                        <div class="default_option">Todos los servicios</div>  
                    </div>
                    <div class="search_field d-flex flex">
                    <input type="text" class="input" placeholder="Search">
                    <i class="fas fa-search h-100"></i>
                    </div>
                </div>
            </div>
            <div class="d-block d-md-flex flex bg-white mt-0 mt-sm-1 mt-lg-5 mt-xl-5 p-3">
                <div class="col-12 col-md-4 f-14 py-4 py-md-0">
                <p class="color-blue-dark">Certificado </p>
                <p class="f-14">Crear cuenta Top trámites
                Conoce los beneficios que tenemos
                para ti al registrarte</p>
                <button class="btn btn-outline-success">Beneficios</button>
                </div>
                <div class="col-12 col-md-4 f-14 py-4 py-md-0 ">
                <p class="color-blue-dark">Crear cuenta </p>
                <p class="f-14">Conoce los beneficios que tenemos
                para ti al registrarte</p>
                <button class="buttom-absolute btn btn-outline-success  bottom-0">Ver todo</button>
                </div>
                <div class="col-12 col-md-4 f-14 py-4 py-md-0 ">
                <p class="color-blue-dark">Top trámites </p>
                <p class="f-14">Conoce los trámites más solicitados.
                beneficios Ver todo</p>
                <button class="buttom-absolute btn btn-outline-success position-absolute bottom-0">Ver todo</button>
                </div>
            </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5 my-4 my-sm-4 my-lg-0 d-flex flex-row-reverse">
        <div class="align-self-end col-12 col-md-12 col-lg-10 p-0">
            <div class="d-block position-relative">
                <img class="w-100" src="assets/imgs/resource-1.png">
                <div class="box-blur position-absolute text-center ">
                    <h2 class="my-2 my-md-4 color-blue-dark">SERVICIOS QUIPUX</h2>
                </div>
            </div>
            <div class="style-border-blue d-block position-relative  bg-white pl-4 py-4" >
                <h5 class="color-blue-dark">Trámites en tu mano</h5>
                <p class="f-14" >Ahora podrás hacer todos tus trámites desde la comodidad de tu
                casa, desde cualquier dispositivo computadora, tablet o móvil.
                </p>
            </div>
        </div>        
    </div>
  </div>